@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import "https://unpkg.com/transition-style";
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
a {
    text-decoration: none;
}

::selection {
    background: black;
    color: white;
}
::-webkit-scrollbar {
    display: none;
}

* {
    box-sizing: border-box;
}
body {
    background: #262c34;
    font-family: 'Outfit', Sans-Serif;
}
::-webkit-scrollbar {
    display: none;
}
.navbar {
    width: 100%;
    padding: 10px;
}
.active {
    margin: 0 !important;
    color: #8B76F7;
}
.nav-link {
    color: #8B76F7 !important;
}
.navbar-toggler {
    border: 0 !mportant;
    background: rgba(139,118,247,.25);
    font-size: 2em;
}
.navbar-toggler:hover,
.navbar-toggler:active,
.navbar-toggler:focus {
    box-shadow: 0 0 0 3px rgb(175,160,248,.5);
}

@media screen and (max-width: 500px) {
    .section-hero-home {
        display: flex;
        flex-direction: column;
    }
    .div-text-hero-home {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .media-sertifikat img {
        width: 200px;
    }
    .container-footer {
        display: flex;
        flex-direction: column;
    }
}
@media screen and (min-width: 500px) {
    .navbar-collapse {
        position: absolute;
        top: 0;
        right: 30px;
    }
    .section-hero-home {
        display: flex;
        flex-direction: row-reverse;
        height: auto !important;
        margin-top: 30px;
    }
    .div-text-hero-home {
        width: 60%;
    }
    .media-sertifikat img {
        width: 300px;
    }
    .container-footer {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
    }
}
.animate-spealizing {
    animation: Slider 10s linear infinite alternate;
}
@keyframes Slider {
    0% {
        transform: translateX(50%);
    }
    100% {
        transform: translateX(-50%);
    }
}
.box-project {
    width: 400px;
    height: 330px;
    border-radius: 10px;
    text-align: left;
    background: rgb(175,160,248,.15)
}
#contact {
    display: flex;
    flex-direction: column !important;
}

/* footer */

footer {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background: #312f54;
    color: #fff;
    position: relative;
}
.container-footer {
    display: flex;
    margin: 0;
    padding: 0;
    padding-top: 10%;
    padding-bottom: 10%;
    gap: 20px;
}
.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: #fff;
    font-size: .7em;
    position: absolute;
    bottom: 1%;
    padding-inline: 30px;
    padding-top: 30px;
    text-align: center;
}
.title-footer {
    font-weight: 600;
    font-family: "Outfit", Sans-Serif;
    font-size: 1.2em;
    border-bottom: 2px solid black;
    text-align: left;
}
.sub-footer {
    font-weight: 300;
    font-family: "Outfit", Sans-Serif;
    font-size: .7em;
    text-align: left;
    padding: 5px;
    margin: 0;
}
.sub-footer a {
    color: #fff;
    border-bottom: 2px solid #232323;
}
.isi-f {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: left;
    gap: 0;
    padding: 0;
}
.logo-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    font-family: "Outfit", Sans-Serif;
    font-weight: 800;
    text-align: center;
}